body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style: none
}

a {
    text-decoration: none;
}

.header-top {
    background-color: #C9C9C9;
}

.header .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logged {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.reg {
    margin-top: 4px;
    float: right;
}

.slide {
    float: left;
    padding: 5px;
    z-index: 998;
    width: 250px;
}

.list-item {
    border-bottom: 1px solid #a7a7a7;
    padding: 10px;
}
/*---------------Menu----------------*/
/*.menu
{
	position: absolute;
}*/
.wap_menu {
    background: #161010;
}

.smoothmenu ul li {
    padding-top: 20px;
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    height: inherit;
}

.fixed {
    position: fixed;
    z-index: 999;
    margin-top: 0px;
    width: 100%;
    opacity: 0.8;
}

.smoothmenu > ul {
    position: fixed;
    list-style-type: none;
    height: 66px;
    z-index: 999; /*chi can z-index thang ul to nay thoi*/
}

.smoothmenu ul li ul {
    position: absolute;
    width: 200px;
    padding-left: 0px;
    display: none;
    background-color: white;
    margin-top: 20px;
}

.smoothmenu li:hover > .sub__menu {
    display: block;
    z-index: 9999;
    background-color: white;
}

.smoothmenu ul li ul li {
    border-bottom: 1px solid #999;
    margin-left: 0px;
    width: 100%;
    background: #ccc;
    padding-bottom: 10px;
    padding-left: 1px;
}

    .smoothmenu ul li ul li ul {
        margin-top: -35px;
        margin-left: 200px;
        display: none;
    }

    .smoothmenu ul li ul li a {
        color: black;
        padding-left: 10px;
        font-weight: bold;
    }

.smoothmenu ul li a {
    color: #fff;
}

.smoothmenu a:hover {
    color: blue;
}


.tel {
    padding-top: 20px;
    color: #f00;
    font-size: 17px;
    display: inline;
    line-height: 60px;
}

    .tel span {
        color: #8e8e8e;
        font-size: 16px;
    }
/*---------------------------Under Menu----------------------------------*/
.under_menu {
    border-bottom: 1px #33cc00 solid;
    padding-top: 63px;
}

.under_item {
    line-height: 50px;
    font-size: 15px;
}

    .under_item a {
        margin-left: 40px;
    }

#search {
    margin-top: 10px;
    position: relative;
}

    #search input {
        width: 224px;
        border-radius: 3px;
        border: 1px solid #a9a9a9;
        height: 30px;
        padding-left: 10px;
    }

    #search img {
        position: absolute;
        right: 33px;
        top: 5px;
        cursor: pointer;
    }
/*-----------------------------Tin tuc---------------------------------*/
/*========= ĐỊNH DẠNG BOX #demo ========*/
#demo {
    width: 320px;
    font-size: 12px;
    background: #EAF4F5;
    padding: 5px 5px 0;
    margin: 20px auto;
    font-family: Verdana,Arial,Sans-Serif;
}

    #demo a {
        text-decoration: none;
    }

    #demo img {
        border: 2px solid #FFFFFF;
    }

    #demo .title {
        color: #514448;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
    }

/*========= ĐỊNH DẠNG BOX .news-container ========*/
.news {
    height: 311px;
}

.news-container {
    width: 100%;
    height: 100%
}

    .news-container ul li {
        list-style: none;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #a7a7a7;
        padding-top: 20px;
    }

        .news-container ul li a {
            display: block;
            color: #514448;
            width: 200px;
        }

            .news-container ul li a:hover {
                display: block;
                color: #DB2E66;
            }

    .news-container .thumb {
        float: left;
        width: 120px;
        height: 100px;
    }

    .news-container .info {
        float: right;
        width: 210px;
    }

.info p {
    font-size: 12px;
}

.clr {
    clear: both;
}

.thumb img {
    width: 100%;
}
/*--------------------------------------Content------------------------*/
.content {
    min-height: 300px;
    width: 100%;
}

.left {
    margin-top: 40px;
    border: 1px #a9a9a9 solid;
    border-radius: 5px;
    height: 345px;
}

.tieudetrai {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #33cc00;
    font-size: 18px;
    color: #fff;
}

.side-menu {
    width: 100%;
    font-size: 14px;
}

    .side-menu li {
        position: relative;
        line-height: 30px;
        padding: 0 28px;
    }


        .side-menu li a {
            display: block;
            background: url('../images/dot.png') left center no-repeat;
            padding: 6px 6px 6px 18px;
            color: black;
            text-decoration: none;
            border-bottom: 1px #c9c9c9 solid;
        }

            .side-menu li a:hover {
                color: #f00;
            }

.sub-slide-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
}

    .sub-slide-menu li {
        background-color: #33cc00;
        width: 200px;
        overflow: hidden;
        transition: 2s;
    }

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideshow {
    margin-top: 40px;
}
/*-----------------------main------------------------------*/
.main {
    margin-top: 70px;
}

.tieudegiua {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    color: #33CA00;
}

    .tieudegiua:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        height: 1px;
        /*transform: translateY(-50%);*/
        border-top: 1px solid #34cb00;
        z-index: 1;
    }

    .tieudegiua .title-content {
        position: relative;
        padding: 0 90px;
        background-color: white;
        background-image: url(../images/dot1.png), url(../images/dot2.png);
        background-position: left center, right center;
        background-repeat: no-repeat;
        z-index: 1;
    }


.item {
    border: 1px solid #c9c9c9;
    position: relative;
    margin: 30px 0px;
    padding: 10px 10px;
    /* margin-right: 50px;
	    margin-left:45px;
	   
	     /*Cho nay tao lao roi, sao lai chiem 25% a fix giup e voi
	    
	     margin-top:30px;*/
}

    .item img {
        width: 100%;
        /*margin-top:10px;*/
    }

.giamgia {
    position: absolute;
    background-image: url("../images/km.png");
    background-repeat: no-repeat;
    width: 26%;
    right: 2px;
    bottom: 99px;
    position: absolute;
    height: 90px;
    padding-top: 53px;
    padding-left: 40px;
    color: white;
}

.item_text {
    margin: 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .item_text a {
        color: #343434;
    }

        .item_text a:hover {
            text-decoration: none;
        }

.item p {
    margin: 10px 10px;
}

.item strong {
    color: red;
    font-size: 24px;
}

.item span {
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 50px;
}

.discount {
    background: url('../images/detail.png');
    width: 34px;
    height: 34px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/*--------------------Footer-------------------*/
.footer {
    min-height: 100px;
    background-color: #e3e3e3;
    margin-top: 50px;
}

.title_footer {
    height: 23px;
    border-bottom: 1px #fff solid;
    margin-top: 40px;
    font-size: 20px;
    color: blue;
}

.first-new {
    margin-top: 9px;
}

    .first-new img {
        width: 100%;
    }

    .first-new h3 {
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }

    .first-new p {
        text-align: justify;
        margin-top: 10px;
        font-size: 13px;
    }

.news {
    margin-top: 60px;
}

.end {
    background-color: #000;
}

.footer_container {
    margin-top: 30px;
}

    .footer_container h3 {
        font-size: 20px;
        color: white;
        text-align: center;
        margin-bottom: 10px
    }

    .footer_container p {
        line-height: 30px;
        padding-left: 20px;
    }

/*---------------------------------------Chi Tiet San Pham------------------------------------------------------*/
.magnify {
    /*width:300px;*/
    /*margin:50px auto;*/
    position: relative;
}

.large {
    width: 175px;
    height: 175px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255,255,255,.85), 0 0 7px 7px rgba(0,0,0,.2), inset 0 0 40px 2px rgba(0,0,0,.25);
    /*background: url("../images/timthumb.png") no-repeat*/
    display: none;
}

.zoom-content {
    width: 260px;
    height: auto;
}


.chitietsp h1 {
    color: #1d8d45;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
}

.chitietsp span {
    font-weight: bold;
}

.chitietsp div {
    margin-top: 10px;
}

.giamoi {
    width: 100%;
    background: #F8FAF5;
}

    .giamoi span {
        margin-top: 13px;
        color: #F59F22;
        font-size: 30px;
    }

.chitietsp table td, .chitietsp table th {
    text-align: center;
}

.chitietsp table th {
    font-weight: bold;
}

.chitietsp table tr td:first-child {
    font-weight: bold;
}
/*-----------------------end-----------------------------------*/

.tab {
    text-align: justify;
}

.content_tabs {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 17px;
}

    .content_tabs p {
        margin-top: 30px;
        text-align: center;
    }

.advs {
    margin: 15px 20px;
    padding: 25px 30px;
    background: #33CC00;
    color: #fff;
}

    .advs h3 {
        font-size: 25px;
    }

.advs-left {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.advs-right {
    width: 50%;
    float: left;
    margin-top: 20px;
}

    .advs-right a {
        background: url('../images/icon_btn.png') no-repeat left,#333333;
        line-height: 50px;
        display: block;
        font-size: 30px;
        margin-left: 90px;
        color: #fff;
        padding-left: 60px;
        text-decoration: none;
    }

/*-------------------------Đăng kí thành viên-------------------------------*/

.dangki tr td:first-child {
    width: 180px;
    padding: 5px 0;
}

.dangki .textbox {
    width: 319px;
    height: 30px;
    border-radius: 3px;
    border: 1px #ccc solid;
    margin: 5px 0;
    padding: 5px;
}

.dangki select {
    width: 200px;
    height: 30px;
    margin: 5px 0;
}

.giohang tr th {
    text-align: center;
    padding-top: 10px;
}

.giohang tr td {
    text-align: center;
}

.dathang button {
    float: right;
    margin-right: 5px;
}
/*------------------------Đăng nhập thành viên ------------------------------*/
.dangnhap tr td:first-child {
    width: 100px;
    padding: 5px 0;
}

.dangnhap .login {
    width: 319px;
    height: 30px;
    border-radius: 3px;
    border: 1px #ccc solid;
    margin: 5px 0;
    padding: 5px;
}

.dangnhap {
    margin-top: 30px;
}

.tongtien {
    margin-right: 0px;
}
/*-------------------------Tin tuc------------------------------------*/
.box-new a img:hover {
    opacity: 0.4;
    transition: 1s;
}

.box-new {
    border-bottom: 1px dotted #A0A0A4;
}
/*-------------------------Chi tiet Tin tuc------------------------------------*/
.content_ctsp p {
    line-height: 25px;
}

/*--------------------------Lien hệ-------------------------*/
.form_lienhe {
    margin-top: 30px;
}

    .form_lienhe p {
        width: 150px;
        float: left;
        margin-top: 8px;
    }

.input_form {
    float: left;
    width: 60%;
    border: 1px solid #BBB;
    border-radius: 3px;
    height: 28px;
    box-shadow: 0px 0px 4px #DDD;
}

.form_lienhe span {
    color: red;
}

.item_lienhe {
    margin-top: 20px;
}

/*---------------------Back Top---------------------*/
.btn-top {
    background-image: url(/images/backtop.png);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}

.showtt {
    margin-top: 10px;
}

.thongtin {
    display: none;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
}

.showtt:hover  .thongtin {
    display: block;
}